<template>
  <div class="page employees-list">
    <h1 class="employees-list__header">Employees</h1>
    <div v-if="loading" class="employees-list__loading">Loading...</div>
    <table v-else class="employees-list__list">
      <tr class="employees-list__list-header">
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
      <tr v-for="employee in employees" class="employees-list__list-row" :key="employee.id">
        <td>{{employee.id}}</td>
        <td
          contenteditable
          data-element="name"
          @blur="handleUpdate($event, employee)"
        >{{employee.name}}</td>
        <td>
          <span
            contenteditable
            data-element="street"
            data-type="address"
            @blur="handleUpdate($event, employee)"
          >{{employee.address.street}}</span>
          <span
            contenteditable
            data-element="suite"
            data-type="address"
            @blur="handleUpdate($event, employee)"
          >{{employee.address.suite}}</span>
          <span
            contenteditable
            data-element="city"
            data-type="address"
            @blur="handleUpdate($event, employee)"
          >{{employee.address.city}}</span>
        </td>
        <td
          contenteditable
          data-element="phone"
          @blur="handleUpdate($event, employee)"
        >{{employee.phone}}</td>
        <td>
          <a
            contenteditable
            data-element="email"
            @click="sendEmail"
            @blur="handleUpdate($event, employee)"
          >{{employee.email}}</a>
        </td>
        <td>
          <router-link :to="`/update/${employee.id}`" class="employees-list__update">Update</router-link>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: mapGetters(["employees", "loading"]),
  methods: {
    ...mapActions(["updateEmployee"]),
    sendEmail(e) {
      window.location.href = `mailto:${e.target.innerText}`;
    },
    handleUpdate(e, employee) {
      let newEmployee = {};
      if (e.target.dataset.type === "address") {
        newEmployee = {
          ...employee,
          address: {
            ...employee.address,
            [e.target.dataset.element]: e.target.innerText
          }
        };
      } else {
        newEmployee = {
          ...employee,
          [e.target.dataset.element]: e.target.innerText
        };
      }
      this.updateEmployee(newEmployee);
    }
  }
};
</script>
<style lang="scss" scoped>
.employees-list {
  &__header {
    font-size: 20px;
    padding: 0 0 10px;
  }

  &__loading {
    color: #999d9d;
    text-align: center;
  }

  &__list {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }

  &__list-header {
    background: #f7f8f9;
    border-bottom: 1px solid #999d9d;

    th {
      padding: 8px;
    }
  }

  &__list-row {
    background: #fff;

    td {
      padding: 8px;
    }
  }
}
@media screen and (max-width: 768px) {
  .employees-list {
    &__list-header {
      display: none;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 5px;
      left: 10px;
      width: 50%;
      font-weight: bold;
      white-space: nowrap;
    }
    td:nth-of-type(1):before {
      content: "Id";
    }
    td:nth-of-type(2):before {
      content: "Name";
    }
    td:nth-of-type(3):before {
      content: "Address";
    }
    td:nth-of-type(4):before {
      content: "Phone";
    }
    td:nth-of-type(5):before {
      content: "Email";
    }
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
}
</style>
