<template>
  <div class="page employees-update">
    <div v-if="loading" class="employees-list__loading">Loading...</div>
    <form v-else class="form" @submit="handleUpdate">
      <div class="input-group">
        <label for="name" class="input-label">Name</label>
        <input id="name" type="text" class="input" v-model="employee.name" />
      </div>
      <div class="input-group">
        <label for="address-street" class="input-label">Address street</label>
        <input id="address-street" type="text" class="input" v-model="employee.address.street" />
      </div>
      <div class="input-group">
        <label for="address-suite" class="input-label">Address suite</label>
        <input id="address-suite" type="text" class="input" v-model="employee.address.suite" />
      </div>
      <div class="input-group">
        <label for="address-city" class="input-label">Address city</label>
        <input id="address-city" type="text" class="input" v-model="employee.address.city" />
      </div>
      <div class="input-group">
        <label for="phone" class="input-label">Phone</label>
        <input id="phone" type="text" class="input" v-model="employee.phone" />
      </div>
      <div class="input-group">
        <label for="email" class="input-label">Phone</label>
        <input id="email" type="email" class="input" v-model="employee.email" />
      </div>

      <button type="submit" class="button--submit">Submit</button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UpdateEmploee",
  computed: {
    ...mapGetters(["employees", "loading"]),
    id() {
      return this.$route.query.id;
    },
    employee() {
      const id = parseInt(this.$route.params.id);
      return {
        ...this.employees.filter(employee => employee.id === id)[0]
      };
    }
  },
  methods: {
    ...mapActions(["updateEmployee"]),
    handleUpdate(e) {
      e.preventDefault();
      this.updateEmployee(this.employee);
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
.form {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
}
.button {
  &--submit {
    height: 40px;
  }
}
</style>
