<template>
  <div class="app">
    <Header />
    <div class="pages-container">
      <Menu />
      <router-view />
    </div>
    <Footer />
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import Header from "@components/Header";
import Footer from "@components/Footer";
import Menu from "@components/Menu";

export default {
  components: {
    Header,
    Footer,
    Menu
  },
  methods: {
    ...mapActions(["getEmployees"])
  },

  created() {
    this.getEmployees();
  }
};
</script>
<style lang="scss" scoped>
.app {
  position: relative;
  height: 100%;
}

.pages-container {
  max-width: 1080px;
  margin: 0 auto;
}
</style>
