<template>
  <nav>
    <div class="menu" v-bind:class="{ 'menu--active': show }">
      <div class="menu__link">
        <router-link :to="'/'">Homepage</router-link>
      </div>
      <div class="menu__link">
        <router-link :to="'/'">About</router-link>
      </div>
      <div class="menu__link">
        <router-link :to="'/'">Careers</router-link>
      </div>
      <div class="menu__link">
        <router-link :to="'/'">Blog</router-link>
      </div>
    </div>
    <div v-on:click="show = !show" class="menu__toggle">
      <div class="menu__hamburger" v-bind:class="{ 'menu__hamburger--active': show }"></div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Menu",
  data: function() {
    return {
      show: false
    };
  }
};
</script>

<style lang="scss" scoped>
.menu {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0;
  background-color: #ccc;

  &__toggle {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
  &__hamburger {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #666;
    transition: all 0.5s;

    &:after,
    &::before {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 8px;
      background-color: #666;
      transition: all 0.5s;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &--active {
      &:after {
        transform: translateY(-20px);
      }
      &:before {
        transform: translateY(20px);
      }
    }
  }
  a {
    color: #222;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
  @media screen and (max-width: 556px) {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    &__toggle {
      display: block;
    }

    &__link {
      padding: 10px 0;
    }
    &--active {
      display: inline-flex;
    }
  }
}
</style>
